.navbar-brand img{
    width: 50px;
    height: auto;
}
.navbar{
    /* background-color: red !important;
    opacity: .8; */
    
    background-color: rgba(230, 23, 23, 0.062)!important;
    /* background-color:#ecf0f1!important; */
    /* color: black !important; */

}
.navbar a{
    color: black !important;
    /* list-style: none !important; */
}
/* button{
    display: none;
} */



/* @media only screen and (max-width: 991px){
    
    .navbar{
        display: flex;
    }
    .navbar a{
        order: 1;
    }
    button{
        display: block;
        order: 3;
    }
    .d-flex{
        order: 2;
    }
} */
.container{
    margin-top: 80px;

    
}
.carousel-container{
    width: 100vh !important;
    height: auto !important;
    box-sizing: border-box;
}

.mainDivCarosel{
    width: 100% !important;
    height: 90vh !important;
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}
.carousel-bg{
    background-color: #ecf0f1;
    border-radius: 10px;
    height: 88vh;
}
.col-md-6 img{
    margin-top: 140px;
    width: 78% !important;
    height: 50vh !important;
}
.carousel-item{
    padding-left: 40px;
}
.carousel-item .price{
    color:#e67e22 ;
}
.price-button{
    border: none;
    background-color: #e74c3c !important;
    color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
}
.price-button:hover{
    background-color: #5c1a12 !important;
}

.card-img-top{
    width: 100%;
    height: 50vh;
}

.card{
    height: 60vh;
    box-shadow: 0 0 5px #656464a3;
    /* transform: scale(.99); */
    transition: all .5s ease-in-out;
    box-sizing: border-box;
}

.card:hover{
    box-shadow: 0 0 10px 1px rgb(9, 250, 158);
    transform: scale(1.1);
}

.searchInput:focus{

    outline: none !important;
    border:1px solid rgba(25,135,84, 0.562);
    box-shadow: 0 0 15px rgba(25,135,84, 0.719);

}

.searchInput:focus + .searchButton{

    display: initial;
    
}

.searchButton{
display: none;
}