body{
    background-color: rgba(194, 193, 193, 0.527);
}

.navbar-brand img{
    width: 50px;
    height: auto;
}
.navbar{
    /* background-color: red !important;
    opacity: .8; */
    
    background-color: #2c3e50 !important;
    
    /* background-color:#ecf0f1!important; */
    /* color: black !important; */

}

.navbar a{
    color: rgb(255, 255, 255) !important;
    /* list-style: none !important; */
}

.navbar .navMenu-a:hover{
   border-bottom: 4px solid green !important ;
    transition: all .5s ease-in-out;
    /* list-style: none !important; */
}
/* button{
    display: none;
} */



/* @media only screen and (max-width: 991px){
    
    .navbar{
        display: flex;
    }
    .navbar a{
        order: 1;
    }
    button{
        display: block;
        order: 3;
    }
    .d-flex{
        order: 2;
    }
} */
.container{
    margin-top: 80px;

    
}
.carousel-container{
    width: 100vh !important;
    height: auto !important;
    box-sizing: border-box;
}

.mainDivCarosel{
    width: 100% !important;
    height: 100vh !important;
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
   
}
.carousel-bg{
    background-color: #16a085;
    /* border-radius: 10px; */
    height: 100vh;
    /* position:  absolute; */
}
.col-md-6 img{
    margin-top: 140px;
    width: 78% !important;
    height: 70vh !important;
}
.carousel-item{
    padding-left: 40px;
}
.price{
    color:#e67e22 ;
}
.price-button{
    border: none;
    background-color: #e74c3c !important;
    color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
}
.price-button:hover{
    background-color: #b11f0e !important;
}

.card-img-top{
    width: 100%;
    height: 30vh;
}

.card{
    height: 45vh;
    /* box-shadow: 0 0 5px #656464a3; */
    box-shadow: 2px 2px 2px rgb(201, 190, 190);
    /* transform: scale(.5); */
    transition: all .5s ease-in-out;
    box-sizing: border-box;
}
.card-body{
    height: 30vh;
}
.card:hover{
    /* box-shadow: 0 0 10px 1px rgb(9, 250, 158); */
    box-shadow: 2px 2px 5px 1px rgb(250, 9, 9);
    transform: scale(1.1);
    /* transform: scale(1.1); */
}

.searchInput{
    background-color: rgba(255, 255, 255, 0) !important;
    /* border-style: none; */
    border: .1px solid rgb(253, 253, 253);
}

.searchInput:focus{

    outline: none !important;
    border:1px solid rgba(222, 231, 227, 0.822);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.925);
    color: white;
    font-size: larger;
 
}

.searchInput:focus + .searchButton{

    display: initial;
    color: black !important;
}

.searchButton{
    color: rgb(255, 255, 255) !important;
display: none;

}
.card-text{
    font-size: .9rem;
    margin-bottom: 4px;
}


.slider{
    height: 50px;
    width: 60px;
    background-color: #2c3e50;
    position: relative;
    right: -92%;
    bottom: 18px;
    

}

.inner, .inner1{
    position: absolute;
    height: 40px;
    width: 40px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: rgb(255, 255, 255);
    transform: rotate(90deg);
    top: 10%;
    left: 15%;
    transition: all .8s ease-in-out;
    /* transform: translate(0% , 0%); */

}

.inner:hover{
    transform: scale(1.1) rotate(450deg) translateX(-760px);
    background-color: rgb(190, 11, 5);
    box-shadow: 0 0 4px 2px rgb(236, 4, 4);
    /* transform: translate(0% , 0%); */
}